@{
    ViewBag.Title = "Home Page";
}
@using System
@using System.Linq
@using System.Xml.Linq
<table>
    <tr>
          @{
                string filepath = HttpContext.Current.Server.MapPath("~/Content/homepage.xml");
                XElement xelement = XElement.Load(filepath);
                IEnumerable<XElement> images = xelement.Elements();
                //Read the entire XML
                int i = 0;
                string[] image = new String[images.Count()];
                foreach (var imageXML in images)
                {
                    image[i] = imageXML.Element("Path").Value;
                    i++;
                }

                Random r = new Random();
                int imageNumber = r.Next(image.Length);//Max range
            }
        <td>
            <figure>
                <img src=@image[@imageNumber] style="font-weight: bold;margin:2px" height='400' width="550" border=0 />
            </figure>
        </td>
 @{
    string filepath1 = HttpContext.Current.Server.MapPath("~/Content/homepage2.xml");
    XElement xelement1 = XElement.Load(filepath1);
    IEnumerable<XElement> images1 = xelement1.Elements();
    //Read the entire XML
    int j = 0;
    string[] image1 = new String[images1.Count()];
    foreach (var imageXML in images1)
    {
        image1[j] = imageXML.Element("Path").Value;
        j++;
    }

    Random r1 = new Random();
    int imageNumber1 = r1.Next(image1.Length);//Max range
}
       <td>
            <figure>
                <img src=@image1[@imageNumber1] style="font-weight: bold;margin:2px" height='400' width="550" border=0 />
            </figure>
        </td>
    </tr>

</table>
